.img-blook-10{
    width: 100%;
    height: 199px;
    background-image: url(../img/a845ffd0453273b291cf22ee3a3b6fb91e97e833.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-11{
    width: 100%;
    height: 199px;
    background-image: url(../img/dfafa2b83ae0f01dae70e04ac3b44525d77e34fa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-12{
    width: 100%;
    height: 199px;
    background-image: url(../img/5a8b4818b6deaf7924b626ce178f7b4e71f569db.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-13{
    width: 100%;
    height: 199px;
    background-image: url(../img/a124ed99fd6e87f6c9838f25bcd8d7dcd5a4565e.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}
.img-blook-14{
    width: 100%;
    height: 199px;
    background-image: url(../img/1f07e34af6f118d8e7b207c8f3760efcda98feb1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-n{
    width: 100%;
    height: 199px;
    background-image: url(../img/c7c634cb2b3a80c1ba748603ad92a4259a0a3247.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-15{
    width: 100%;
    height: 199px;
    background-image: url(../img/76829aed6b9e0db3022b6ac22d7bc8b082a46759.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-16{
    width: 100%;
    height: 199px;
    background-image: url(../img/2282f71ca455733c2be73a5c24dda289669baf5f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-17{
    width: 100%;
    height: 199px;
    background-image: url(../img/bbf86d46fcc80909b9ea58733f64e826049c7740.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}
.img-blook-18{
    width: 100%;
    height: 199px;
    background-image: url(../img/205a2968dada5cc22993b37013f7059e144ea830.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-19{
    width: 100%;
    height: 199px;
    background-image: url(../img/d07263f093f5a7cf6b337f72364579e8716587ae.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-20{
    width: 100%;
    height: 199px;
    background-image: url(../img/7019d576ce4533dc30742739290816f78bec9082.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-21{
    width: 100%;
    height: 199px;
    background-image: url(../img/90bfc3adb884217053c4fe45e233d5721b11d1b0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}
.img-blook-22{
    width: 100%;
    height: 199px;
    background-image: url(../img/c34a0de3d4eb3e888cd70142754b564803df438e.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-23{
    width: 100%;
    height: 199px;
    background-image: url(../img/6b739e0e1959204d61fc037b2c7d9515210e5e79.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-24{
    width: 100%;
    height: 199px;
    background-image: url(../img/72910659f98c828be8ec6ee5af3a94b8d8fda2d9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-25{
    width: 100%;
    height: 199px;
    background-image: url(../img/ce46d3fbb2401336c4fced8d808b9b9ea9b750b8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-26{
    width: 100%;
    height: 199px;
    background-image: url(../img/c77cce2aa297105b46f8e33ad906c464520e1833.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-27{
    width: 100%;
    height: 199px;
    background-image: url(../img/cf9899a319a44acf2b1d38a344404c3b883d3264.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-28{
    width: 100%;
    height: 199px;
    background-image: url(../img/f3abd1e9d25985b0ef7d14bb9fe704216f753795.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
}

.img-blook-10 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-11 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-12 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-13 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-14 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-15 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-16 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-17 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}
.img-blook-18 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-19 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-20 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-21 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-22 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-23 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-24 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-25 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-26 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-27 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}

.img-blook-28 button{
    padding: 5px 20px;
    font-size: 10px;
    background-color: #F2B705;
    color: white;
    border-radius: 14px;
    border: 0px solid black;
    margin: 10px 0px 0px 23px;
}